#ทดสอบ 640710741 พิมพ์ชนก ธีรพงษกร

In [144]:
import pandas as pd
import numpy as np

#ทำการอ่านไฟล์

In [145]:
df=pd.read_csv('student.csv')

In [146]:
df.shape

(20, 10)

#แสดงข้อมูลทั้งหมด

In [147]:
df

,รหัสนักศึกษา,ชื่อ,อายุ,เพศ,คณะ,GPA,ส่วนสูง_cm,น้ำหนัก_kg,ชั่วโมงเรียน_ต่อสัปดาห์,วันที่ลงทะเบียน
0,64001,สมชาย,20.0,ชาย,วิทยาศาสตร์,3.21,170.0,65.0,15.0,2024-01-23
1,64002,สมหญิง,21.0,หญิง,วิทย์,3.45,165.0,58.0,20.0,2024-02-05
2,64003,NaN,NaN,Male,Science,3.67,175.0,NaN,25.0,2024-01-13
3,64004,สมศักดิ์,22.0,ช,คณะวิทยาศาสตร์,-1.00,168.0,70.0,10.0,2023-12-30
4,64005,สมใจ,19.0,ญ,วิศวะ,3.89,160.0,52.0,30.0,2024-01-27
5,64006,กานต์,150.0,ชาย,Engineering,3.12,172.0,75.0,12.0,2023-12-23
6,64007,กิตติ,21.0,หญิง,วิศวกรรม,4.50,158.0,48.0,35.0,2024-01-05
7,64008,จิรา,20.0,F,ศิลปศาสตร์,2.98,180.0,82.0,18.0,2024-01-23
8,64009,ชนาธิป,23.0,M,Arts,3.34,163.0,55.0,22.0,2024-02-11
9,64010,ดารา,21.0,หญิง,ศิลป์,3.56,167.0,60.0,28.0,2024-01-03
10,64011,ธีระ,NaN,NaN,NaN,3.78,NaN,68.0,NaN,2024-01-07
11,64012,นภา,22.0,ชาย,วิทย์,NaN,171.0,NaN,16.0,2023-12-26
12,64013,บุญมี,20.0,หญิง,วิศวฯ,3.23,169.0,72.0,24.0,2023-12-26
13,64014,ปรีชา,21.0,ชาย,Liberal Arts,3.45,164.0,54.0,19.0,2024-01-08
14,64015,พิมพ์,22.0,Female,Sci,3.67,162.0,56.0,26.0,2024-02-06
15,64016,ภูมิ,19.0,ช,วิทยาศาสตร์,3.89,173.0,78.0,14.0,2024-01-20
16,64017,มานี,20.0,ญ,วิศวกรรมศาสตร์,3.01,166.0,62.0,21.0,2024-01-24
17,64018,ยุพา,21.0,หญิง,NaN,3.23,161.0,50.0,27.0,2024-01-08
18,64019,รัตนา,NaN,ชาย,ศิลปศาสตร์,NaN,174.0,76.0,NaN,2023-12-18
19,64020,ลัดดา,22.0,NaN,Science,3.45,168.0,64.0,23.0,2024-01-06

ข้อมูลก่อนลบ

In [148]:
print("ก่อนลบ")
print(df)

ก่อนลบ
    รหัสนักศึกษา      ชื่อ   อายุ     เพศ             คณะ   GPA  ส่วนสูง_cm  \
0          64001     สมชาย   20.0     ชาย     วิทยาศาสตร์  3.21       170.0
1          64002    สมหญิง   21.0    หญิง           วิทย์  3.45       165.0
2          64003       NaN    NaN    Male         Science  3.67       175.0
3          64004  สมศักดิ์   22.0       ช  คณะวิทยาศาสตร์ -1.00       168.0
4          64005      สมใจ   19.0       ญ           วิศวะ  3.89       160.0
5          64006     กานต์  150.0     ชาย     Engineering  3.12       172.0
6          64007     กิตติ   21.0    หญิง        วิศวกรรม  4.50       158.0
7          64008      จิรา   20.0       F      ศิลปศาสตร์  2.98       180.0
8          64009    ชนาธิป   23.0       M            Arts  3.34       163.0
9          64010      ดารา   21.0    หญิง           ศิลป์  3.56       167.0
10         64011      ธีระ    NaN     NaN             NaN  3.78         NaN
11         64012       นภา   22.0     ชาย           วิทย์   NaN       171.0
12         64013     บุญมี   20.0    หญิง           วิศวฯ  3.23       169.0
13         64014     ปรีชา   21.0     ชาย    Liberal Arts  3.45       164.0
14         64015     พิมพ์   22.0  Female             Sci  3.67       162.0
15         64016      ภูมิ   19.0       ช     วิทยาศาสตร์  3.89       173.0
16         64017      มานี   20.0       ญ  วิศวกรรมศาสตร์  3.01       166.0
17         64018      ยุพา   21.0    หญิง             NaN  3.23       161.0
18         64019     รัตนา    NaN     ชาย      ศิลปศาสตร์   NaN       174.0
19         64020     ลัดดา   22.0     NaN         Science  3.45       168.0

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0         65.0                     15.0      2024-01-23
1         58.0                     20.0      2024-02-05
2          NaN                     25.0      2024-01-13
3         70.0                     10.0      2023-12-30
4         52.0                     30.0      2024-01-27
5         75.0                     12.0      2023-12-23
6         48.0                     35.0      2024-01-05
7         82.0                     18.0      2024-01-23
8         55.0                     22.0      2024-02-11
9         60.0                     28.0      2024-01-03
10        68.0                      NaN      2024-01-07
11         NaN                     16.0      2023-12-26
12        72.0                     24.0      2023-12-26
13        54.0                     19.0      2024-01-08
14        56.0                     26.0      2024-02-06
15        78.0                     14.0      2024-01-20
16        62.0                     21.0      2024-01-24
17        50.0                     27.0      2024-01-08
18        76.0                      NaN      2023-12-18
19        64.0                     23.0      2024-01-06

#1.เทคนิคการจัดการข้อมูลพื้นฐาน

**1.1การจัดการข้อมูลหาย**

**ทำการcleanข้อมูลด้วยการdropnaและแสดงข้อมูลหลังการทำงาน อ้างอิงข้อมูลจากไฟล์ student.csv**

In [170]:
df_clean = df.dropna()
print(f"\nผลการลบ - ก่อนลบ {len(df)} แถว, หลังลบ {len(df_clean)} แถว")
print("หลังลบ (เหลือ 9 คน):")
print(df_clean)

ผลการลบ - ก่อนลบ 20 แถว, หลังลบ 12 แถว
หลังลบ (เหลือ 9 คน):
    รหัสนักศึกษา      ชื่อ   อายุ     เพศ             คณะ       GPA  \
0          64001     สมชาย   20.0     ชาย     วิทยาศาสตร์  3.210000
1          64002    สมหญิง   21.0    หญิง           วิทย์  3.450000
3          64004  สมศักดิ์   22.0       ช  คณะวิทยาศาสตร์  3.466471
5          64006     กานต์  150.0     ชาย     Engineering  3.120000
7          64008      จิรา   20.0       F      ศิลปศาสตร์  2.980000
8          64009    ชนาธิป   23.0       M            Arts  3.340000
9          64010      ดารา   21.0    หญิง           ศิลป์  3.560000
13         64014     ปรีชา   21.0     ชาย    Liberal Arts  3.450000
14         64015     พิมพ์   22.0  Female             Sci  3.670000
15         64016      ภูมิ   19.0       ช     วิทยาศาสตร์  3.890000
16         64017      มานี   20.0       ญ  วิศวกรรมศาสตร์  3.010000
17         64018      ยุพา   21.0    หญิง         Science  3.230000

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน  \
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
3        168.0        70.0                     10.0      2023-12-30
5        172.0        75.0                     12.0      2023-12-23
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08

       คณะ_มาตรฐาน  ชั่วโมง วันในสัปดาห์   ช่วงเวลา        BMI สุขภาพ
0      วิทยาศาสตร์     15.0      Tuesday    ปานกลาง  22.491349   ปกติ
1      วิทยาศาสตร์     20.0       Monday        มาก  21.303949   ปกติ
3      วิทยาศาสตร์     10.0     Saturday       น้อย  24.801587   ปกติ
5      Engineering     12.0     Saturday    ปานกลาง  25.351541   อ้วน
7       ศิลปศาสตร์     18.0      Tuesday        มาก  25.308642   อ้วน
8       ศิลปศาสตร์     22.0       Sunday  มากที่สุด  20.700817   ปกติ
9       ศิลปศาสตร์     28.0    Wednesday  มากที่สุด  21.513859   ปกติ
13    Liberal Arts     19.0       Monday        มาก  20.077335   ปกติ
14             Sci     26.0      Tuesday  มากที่สุด  21.338211   ปกติ
15     วิทยาศาสตร์     14.0     Saturday    ปานกลาง  26.061679   อ้วน
16  วิศวกรรมศาสตร์     21.0    Wednesday  มากที่สุด  22.499637   ปกติ
17     วิทยาศาสตร์     27.0       Monday  มากที่สุด  19.289379   ปกติ

**1.2เติมค่าด้วยค่าเฉลี่ยในช่องที่ข้อมูลไม่มี อ้างอิงข้อมูลจากไฟล์ student.csv**

In [150]:
print("ก่อนเติมค่า")
print(df)

ก่อนเติมค่า
    รหัสนักศึกษา      ชื่อ   อายุ     เพศ             คณะ   GPA  ส่วนสูง_cm  \
0          64001     สมชาย   20.0     ชาย     วิทยาศาสตร์  3.21       170.0
1          64002    สมหญิง   21.0    หญิง           วิทย์  3.45       165.0
2          64003       NaN    NaN    Male         Science  3.67       175.0
3          64004  สมศักดิ์   22.0       ช  คณะวิทยาศาสตร์ -1.00       168.0
4          64005      สมใจ   19.0       ญ           วิศวะ  3.89       160.0
5          64006     กานต์  150.0     ชาย     Engineering  3.12       172.0
6          64007     กิตติ   21.0    หญิง        วิศวกรรม  4.50       158.0
7          64008      จิรา   20.0       F      ศิลปศาสตร์  2.98       180.0
8          64009    ชนาธิป   23.0       M            Arts  3.34       163.0
9          64010      ดารา   21.0    หญิง           ศิลป์  3.56       167.0
10         64011      ธีระ    NaN     NaN             NaN  3.78         NaN
11         64012       นภา   22.0     ชาย           วิทย์   NaN       171.0
12         64013     บุญมี   20.0    หญิง           วิศวฯ  3.23       169.0
13         64014     ปรีชา   21.0     ชาย    Liberal Arts  3.45       164.0
14         64015     พิมพ์   22.0  Female             Sci  3.67       162.0
15         64016      ภูมิ   19.0       ช     วิทยาศาสตร์  3.89       173.0
16         64017      มานี   20.0       ญ  วิศวกรรมศาสตร์  3.01       166.0
17         64018      ยุพา   21.0    หญิง             NaN  3.23       161.0
18         64019     รัตนา    NaN     ชาย      ศิลปศาสตร์   NaN       174.0
19         64020     ลัดดา   22.0     NaN         Science  3.45       168.0

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0         65.0                     15.0      2024-01-23
1         58.0                     20.0      2024-02-05
2          NaN                     25.0      2024-01-13
3         70.0                     10.0      2023-12-30
4         52.0                     30.0      2024-01-27
5         75.0                     12.0      2023-12-23
6         48.0                     35.0      2024-01-05
7         82.0                     18.0      2024-01-23
8         55.0                     22.0      2024-02-11
9         60.0                     28.0      2024-01-03
10        68.0                      NaN      2024-01-07
11         NaN                     16.0      2023-12-26
12        72.0                     24.0      2023-12-26
13        54.0                     19.0      2024-01-08
14        56.0                     26.0      2024-02-06
15        78.0                     14.0      2024-01-20
16        62.0                     21.0      2024-01-24
17        50.0                     27.0      2024-01-08
18        76.0                      NaN      2023-12-18
19        64.0                     23.0      2024-01-06

In [151]:
# เหมาะกับข้อมูลตัวเลข - ใช้ค่าเฉลี่ย
mean_age = df['อายุ'].mean()
df['อายุ'].fillna(mean_age, inplace=True)

print(f"\nค่าเฉลี่ยอายุ - {mean_age:.1f} ปี")
print("หลังเติมค่า")
print(df)

ค่าเฉลี่ยอายุ - 28.5 ปี
หลังเติมค่า
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN             NaN  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง             NaN  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

/tmp/ipython-input-1218738133.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['อายุ'].fillna(mean_age, inplace=True)

**1.3 เติมค่าด้วยค่าที่พบบ่อยที่สุด อ้างอิงข้อมูลจากไฟล์ student.csv**

In [152]:
# แสดงข้อมูลก่อนเติมค่า
print("ก่อนเติมค่า")
print(df)

ก่อนเติมค่า
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN             NaN  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง             NaN  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

In [153]:
# เหมาะกับข้อมูลประเภท - ใช้ค่าที่พบบ่อยที่สุด (mode)
df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

print("\nหลังเติมค่า")
print(df)

หลังเติมค่า
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN         Science  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง         Science  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

/tmp/ipython-input-3408441774.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['คณะ'].fillna(df['คณะ'].mode()[0], inplace=True)

#2.การทำข้อมูลให้เป็นมาตรฐาน อ้างอิงข้อมูลจากไฟล์ student.csv

In [154]:
# ตัวอย่าง - ทำให้ชื่อคณะเป็นมาตรฐานเดียวกัน
def standardize_faculty(name):
    if name in ['วิทยาศาสตร์', 'วิทย์', 'Science', 'คณะวิทยาศาสตร์']:
        return 'วิทยาศาสตร์'
    elif name in ['ศิลปศาสตร์', 'ศิลป์', 'Arts']:
        return 'ศิลปศาสตร์'
    elif name in ['วิศวกรรม', 'engineering', 'วิศวฯ', 'วิศวะ']:
        return
    else:
        return name

# ใช้งาน
df['คณะ_มาตรฐาน'] = df['คณะ'].apply(standardize_faculty)

#3.การจัดการค่าผิดปกติ อ้างอิงข้อมูลจากไฟล์ student.csv

In [155]:
print("ข้อมูลต้นฉบับ")
print(df)
print(f"\nค่าเฉลี่ยอายุ (รวมค่าผิดปกติ) - {df['อายุ'].mean():.2f}")

ข้อมูลต้นฉบับ
    รหัสนักศึกษา      ชื่อ        อายุ     เพศ             คณะ   GPA  \
0          64001     สมชาย   20.000000     ชาย     วิทยาศาสตร์  3.21
1          64002    สมหญิง   21.000000    หญิง           วิทย์  3.45
2          64003       NaN   28.470588    Male         Science  3.67
3          64004  สมศักดิ์   22.000000       ช  คณะวิทยาศาสตร์ -1.00
4          64005      สมใจ   19.000000       ญ           วิศวะ  3.89
5          64006     กานต์  150.000000     ชาย     Engineering  3.12
6          64007     กิตติ   21.000000    หญิง        วิศวกรรม  4.50
7          64008      จิรา   20.000000       F      ศิลปศาสตร์  2.98
8          64009    ชนาธิป   23.000000       M            Arts  3.34
9          64010      ดารา   21.000000    หญิง           ศิลป์  3.56
10         64011      ธีระ   28.470588     NaN         Science  3.78
11         64012       นภา   22.000000     ชาย           วิทย์   NaN
12         64013     บุญมี   20.000000    หญิง           วิศวฯ  3.23
13         64014     ปรีชา   21.000000     ชาย    Liberal Arts  3.45
14         64015     พิมพ์   22.000000  Female             Sci  3.67
15         64016      ภูมิ   19.000000       ช     วิทยาศาสตร์  3.89
16         64017      มานี   20.000000       ญ  วิศวกรรมศาสตร์  3.01
17         64018      ยุพา   21.000000    หญิง         Science  3.23
18         64019     รัตนา   28.470588     ชาย      ศิลปศาสตร์   NaN
19         64020     ลัดดา   22.000000     NaN         Science  3.45

    ส่วนสูง_cm  น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน  \
0        170.0        65.0                     15.0      2024-01-23
1        165.0        58.0                     20.0      2024-02-05
2        175.0         NaN                     25.0      2024-01-13
3        168.0        70.0                     10.0      2023-12-30
4        160.0        52.0                     30.0      2024-01-27
5        172.0        75.0                     12.0      2023-12-23
6        158.0        48.0                     35.0      2024-01-05
7        180.0        82.0                     18.0      2024-01-23
8        163.0        55.0                     22.0      2024-02-11
9        167.0        60.0                     28.0      2024-01-03
10         NaN        68.0                      NaN      2024-01-07
11       171.0         NaN                     16.0      2023-12-26
12       169.0        72.0                     24.0      2023-12-26
13       164.0        54.0                     19.0      2024-01-08
14       162.0        56.0                     26.0      2024-02-06
15       173.0        78.0                     14.0      2024-01-20
16       166.0        62.0                     21.0      2024-01-24
17       161.0        50.0                     27.0      2024-01-08
18       174.0        76.0                      NaN      2023-12-18
19       168.0        64.0                     23.0      2024-01-06

       คณะ_มาตรฐาน
0      วิทยาศาสตร์
1      วิทยาศาสตร์
2      วิทยาศาสตร์
3      วิทยาศาสตร์
4             None
5      Engineering
6             None
7       ศิลปศาสตร์
8       ศิลปศาสตร์
9       ศิลปศาสตร์
10     วิทยาศาสตร์
11     วิทยาศาสตร์
12            None
13    Liberal Arts
14             Sci
15     วิทยาศาสตร์
16  วิศวกรรมศาสตร์
17     วิทยาศาสตร์
18      ศิลปศาสตร์
19     วิทยาศาสตร์

ค่าเฉลี่ยอายุ (รวมค่าผิดปกติ) - 28.47

In [156]:
#ใช้ IQR (Interquartile Range)
Q1 = df['อายุ'].quantile(0.25)
Q3 = df['อายุ'].quantile(0.75)
IQR = Q3 - Q1
# กำหนดขอบเขต
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
# กรองค่าผิดปกติ
df_no_outliers = df[(df['อายุ'] >= lower_bound) & (df['อายุ'] <= upper_bound)]

In [157]:
print(f"\nขอบเขตล่าง - {lower_bound}")
print(f"ขอบเขตบน - {upper_bound}")

ขอบเขตล่าง - 16.625
ขอบเขตบน - 25.625

In [158]:
print(f"\nข้อมูลหลังกรองค่าผิดปกติ")
print(df_no_outliers)
print(f"\nค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - {df_no_outliers['อายุ'].mean():.2f}")

ข้อมูลหลังกรองค่าผิดปกติ
    รหัสนักศึกษา      ชื่อ  อายุ     เพศ             คณะ   GPA  ส่วนสูง_cm  \
0          64001     สมชาย  20.0     ชาย     วิทยาศาสตร์  3.21       170.0
1          64002    สมหญิง  21.0    หญิง           วิทย์  3.45       165.0
3          64004  สมศักดิ์  22.0       ช  คณะวิทยาศาสตร์ -1.00       168.0
4          64005      สมใจ  19.0       ญ           วิศวะ  3.89       160.0
6          64007     กิตติ  21.0    หญิง        วิศวกรรม  4.50       158.0
7          64008      จิรา  20.0       F      ศิลปศาสตร์  2.98       180.0
8          64009    ชนาธิป  23.0       M            Arts  3.34       163.0
9          64010      ดารา  21.0    หญิง           ศิลป์  3.56       167.0
11         64012       นภา  22.0     ชาย           วิทย์   NaN       171.0
12         64013     บุญมี  20.0    หญิง           วิศวฯ  3.23       169.0
13         64014     ปรีชา  21.0     ชาย    Liberal Arts  3.45       164.0
14         64015     พิมพ์  22.0  Female             Sci  3.67       162.0
15         64016      ภูมิ  19.0       ช     วิทยาศาสตร์  3.89       173.0
16         64017      มานี  20.0       ญ  วิศวกรรมศาสตร์  3.01       166.0
17         64018      ยุพา  21.0    หญิง         Science  3.23       161.0
19         64020     ลัดดา  22.0     NaN         Science  3.45       168.0

    น้ำหนัก_kg  ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน     คณะ_มาตรฐาน
0         65.0                     15.0      2024-01-23     วิทยาศาสตร์
1         58.0                     20.0      2024-02-05     วิทยาศาสตร์
3         70.0                     10.0      2023-12-30     วิทยาศาสตร์
4         52.0                     30.0      2024-01-27            None
6         48.0                     35.0      2024-01-05            None
7         82.0                     18.0      2024-01-23      ศิลปศาสตร์
8         55.0                     22.0      2024-02-11      ศิลปศาสตร์
9         60.0                     28.0      2024-01-03      ศิลปศาสตร์
11         NaN                     16.0      2023-12-26     วิทยาศาสตร์
12        72.0                     24.0      2023-12-26            None
13        54.0                     19.0      2024-01-08    Liberal Arts
14        56.0                     26.0      2024-02-06             Sci
15        78.0                     14.0      2024-01-20     วิทยาศาสตร์
16        62.0                     21.0      2024-01-24  วิศวกรรมศาสตร์
17        50.0                     27.0      2024-01-08     วิทยาศาสตร์
19        64.0                     23.0      2024-01-06     วิทยาศาสตร์

ค่าเฉลี่ยอายุ (หลังกรองค่าผิดปกติ) - 20.88

#4 Feature Engineering - การสร้างคุณลักษณะใหม่

**4.1 One-Hot Encoding แปลงข้อมูลประเภทเป็นตัวเลขโดยใช้ข้องมูลจาก student.csv**

ข้อมูลออกตรงแต่คณะที่ชื่อเหมือนกันแต่เขียนคนละแบบจะแยกเป็นคนละคณะกัน

In [159]:
# ทำ One-Hot Encoding
data_encoded = pd.get_dummies(df, columns=['คณะ'])
print(data_encoded.head())

   รหัสนักศึกษา      ชื่อ       อายุ   เพศ   GPA  ส่วนสูง_cm  น้ำหนัก_kg  \
0         64001     สมชาย  20.000000   ชาย  3.21       170.0        65.0
1         64002    สมหญิง  21.000000  หญิง  3.45       165.0        58.0
2         64003       NaN  28.470588  Male  3.67       175.0         NaN
3         64004  สมศักดิ์  22.000000     ช -1.00       168.0        70.0
4         64005      สมใจ  19.000000     ญ  3.89       160.0        52.0

   ชั่วโมงเรียน_ต่อสัปดาห์ วันที่ลงทะเบียน  คณะ_มาตรฐาน  ...  คณะ_Science  \
0                     15.0      2024-01-23  วิทยาศาสตร์  ...        False
1                     20.0      2024-02-05  วิทยาศาสตร์  ...        False
2                     25.0      2024-01-13  วิทยาศาสตร์  ...         True
3                     10.0      2023-12-30  วิทยาศาสตร์  ...        False
4                     30.0      2024-01-27         None  ...        False

   คณะ_คณะวิทยาศาสตร์  คณะ_วิทยาศาสตร์  คณะ_วิทย์  คณะ_วิศวกรรม  \
0               False             True      False         False
1               False            False       True         False
2               False            False      False         False
3                True            False      False         False
4               False            False      False         False

   คณะ_วิศวกรรมศาสตร์  คณะ_วิศวฯ  คณะ_วิศวะ  คณะ_ศิลปศาสตร์  คณะ_ศิลป์
0               False      False      False           False      False
1               False      False      False           False      False
2               False      False      False           False      False
3               False      False      False           False      False
4               False      False       True           False      False

[5 rows x 24 columns]

**4.2 การสร้าง Feature จากวันเวลา โดยใช้ข้อมูลจาก student.csv**

In [171]:

##ตัวอย่างที่ต้องการให้แสดงโดยวิธีการทำงานโดยการสร้าง Featureจากวันเวลา
# ทำการแปลงวันที่ลงทะเบียนเป็นชนิดวันที่
df['วันที่ลงทะเบียน'] = pd.to_datetime(df['วันที่ลงทะเบียน'])

# แปลงชั่วโมงเรียนต่อสัปดาห์ให้เป็นตัวเลข (ถ้าแปลงไม่ได้จะกลายเป็นค่าว่าง)
df['ชั่วโมงเรียน_ต่อสัปดาห์'] = pd.to_numeric(df['ชั่วโมงเรียน_ต่อสัปดาห์'], errors='coerce')

# ใช้ค่าชั่วโมงเรียนต่อสัปดาห์แทนชั่วโมง
df['ชั่วโมง'] = df['ชั่วโมงเรียน_ต่อสัปดาห์']

# แบ่งช่วงชั่วโมงเรียนเป็นระดับต่างๆ
df['ช่วงเวลา'] = pd.cut(df['ชั่วโมงเรียน_ต่อสัปดาห์'],
                          bins=[0, 5, 10, 15, 20, float('inf')],
                          labels=['ไม่มี', 'น้อย', 'ปานกลาง', 'มาก', 'มากที่สุด'])

# แสดงข้อมูลที่สำคัญ
print(df[['วันที่ลงทะเบียน', 'ชั่วโมง', 'ช่วงเวลา']].head())

  วันที่ลงทะเบียน  ชั่วโมง   ช่วงเวลา
0      2024-01-23     15.0    ปานกลาง
1      2024-02-05     20.0        มาก
2      2024-01-13     25.0  มากที่สุด
3      2023-12-30     10.0       น้อย
4      2024-01-27     30.0  มากที่สุด

**4.3 การรวม Features โดยใช้ข้อมูลจาก student.csv**

In [161]:
# สร้าง BMI
df['BMI'] = df['น้ำหนัก_kg'] / (df['ส่วนสูง_cm']/100)**2
df['สุขภาพ'] = pd.cut(df['BMI'],
                                   bins=[0, 18.5, 25, 30, 100],
                                   labels=['ผอม', 'ปกติ', 'อ้วน', 'อ้วนมาก'])

print(df[['ชื่อ', 'BMI', 'สุขภาพ']])

        ชื่อ        BMI สุขภาพ
0      สมชาย  22.491349   ปกติ
1     สมหญิง  21.303949   ปกติ
2        NaN        NaN    NaN
3   สมศักดิ์  24.801587   ปกติ
4       สมใจ  20.312500   ปกติ
5      กานต์  25.351541   อ้วน
6      กิตติ  19.227688   ปกติ
7       จิรา  25.308642   อ้วน
8     ชนาธิป  20.700817   ปกติ
9       ดารา  21.513859   ปกติ
10      ธีระ        NaN    NaN
11       นภา        NaN    NaN
12     บุญมี  25.209201   อ้วน
13     ปรีชา  20.077335   ปกติ
14     พิมพ์  21.338211   ปกติ
15      ภูมิ  26.061679   อ้วน
16      มานี  22.499637   ปกติ
17      ยุพา  19.289379   ปกติ
18     รัตนา  25.102391   อ้วน
19     ลัดดา  22.675737   ปกติ

#**workshop**

In [167]:
# สร้าง dataset ตัวอย่าง
import pandas as pd
import numpy as np

# ข้อมูลดิบที่มีปัญหา
raw_data = {
    'รหัสนักศึกษา': ['64001', '64002', '64003', '64004', '64005'],
    'ชื่อ': ['สมชาย', 'สมหญิง', None, 'สมศักดิ์', 'สมใจ'],
    'คณะ': ['วิทย์', 'ศิลปศาสตร์', 'วิทยาศาสตร์', 'Arts', 'วิศวะ'],
    'ชั้นปี': [2, 3, 2, None, 4],
    'GPA': [3.2, 3.8, -1, 2.9, 4.5],  # -1 และ 4.5 ผิดปกติ
    'กิจกรรม': ['กีฬา', 'ดนตรี', 'กีฬา,ดนตรี', None, 'อาสา'],
    'เวลาเข้าร่วม': ['08:00', '9.30', '08:30', '08:00', None]
}

df_student = pd.DataFrame(raw_data)
print("=== ข้อมูลดิบ ===")
print(df_student)
print("\nปัญหาที่พบ")
print(f"- ข้อมูลหาย - {df_student.isnull().sum().sum()} ค่า")
print(f"- GPA ผิดปกติ - {df_student[(df_student['GPA'] < 0) | (df_student['GPA'] > 4)]['GPA'].tolist()}")

=== ข้อมูลดิบ ===
  รหัสนักศึกษา      ชื่อ          คณะ  ชั้นปี  GPA     กิจกรรม เวลาเข้าร่วม
0        64001     สมชาย        วิทย์     2.0  3.2        กีฬา        08:00
1        64002    สมหญิง   ศิลปศาสตร์     3.0  3.8       ดนตรี         9.30
2        64003      None  วิทยาศาสตร์     2.0 -1.0  กีฬา,ดนตรี        08:30
3        64004  สมศักดิ์         Arts     NaN  2.9        None        08:00
4        64005      สมใจ        วิศวะ     4.0  4.5        อาสา         None

ปัญหาที่พบ
- ข้อมูลหาย - 4 ค่า
- GPA ผิดปกติ - [-1.0, 4.5]

**ทำความสะอาดข้อมูลในส่วนของ work shop แต่ใช้ไฟล์ข้อมูล student.csv**

In [168]:
# Step 1 - จัดการข้อมูลหาย
# ชื่อที่หาย - ใช้ "ไม่ระบุ"
df_student['ชื่อ'].fillna('ไม่ระบุ', inplace=True)

# ชั้นปีที่หาย - ใช้ค่าที่พบบ่อยที่สุด
mode_year = df_student['ชั้นปี'].mode()[0]
df_student['ชั้นปี'].fillna(mode_year, inplace=True)

# กิจกรรมที่หาย - ใช้ "ไม่ได้เข้าร่วม"
df_student['กิจกรรม'].fillna('ไม่ได้เข้าร่วม', inplace=True)

# Step 2 - แก้ไข GPA ผิดปกติ
df_student.loc[df_student['GPA'] < 0, 'GPA'] = np.nan
df_student.loc[df_student['GPA'] > 4, 'GPA'] = 4.0
mean_gpa = df_student['GPA'].mean()
df_student['GPA'].fillna(mean_gpa, inplace=True)

# Step 3 - ทำให้ชื่อคณะเป็นมาตรฐาน
faculty_mapping = {
    'วิทย์': 'วิทยาศาสตร์',
    'วิทยาศาสตร์': 'วิทยาศาสตร์',
    'ศิลปศาสตร์': 'ศิลปศาสตร์',
    'Arts': 'ศิลปศาสตร์',
    'วิศวะ': 'วิศวกรรมศาสตร์'
}
df_student['คณะ'] = df_student['คณะ'].map(faculty_mapping)

# Step 4 - แปลงเวลาให้เป็นรูปแบบเดียวกัน
def standardize_time(time_str):
    if pd.isna(time_str):
        return '08:00'  # ค่าเริ่มต้น
    time_str = str(time_str).replace('.', ':')
    if len(time_str.split(':')[0]) == 1:
        time_str = '0' + time_str
    return time_str

df_student['เวลาเข้าร่วม'] = df_student['เวลาเข้าร่วม'].apply(standardize_time)

print("\n=== ข้อมูลหลังทำความสะอาด ===")
print(df_student)

=== ข้อมูลหลังทำความสะอาด ===
  รหัสนักศึกษา      ชื่อ             คณะ  ชั้นปี    GPA         กิจกรรม  \
0        64001     สมชาย     วิทยาศาสตร์     2.0  3.200            กีฬา
1        64002    สมหญิง      ศิลปศาสตร์     3.0  3.800           ดนตรี
2        64003   ไม่ระบุ     วิทยาศาสตร์     2.0  3.475      กีฬา,ดนตรี
3        64004  สมศักดิ์      ศิลปศาสตร์     2.0  2.900  ไม่ได้เข้าร่วม
4        64005      สมใจ  วิศวกรรมศาสตร์     4.0  4.000            อาสา

  เวลาเข้าร่วม
0        08:00
1        09:30
2        08:30
3        08:00
4        08:00

/tmp/ipython-input-4009819203.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_student['ชื่อ'].fillna('ไม่ระบุ', inplace=True)
/tmp/ipython-input-4009819203.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_student['ชั้นปี'].fillna(mode_year, inplace=True)
/tmp/ipython-input-4009819203.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_student['กิจกรรม'].fillna('ไม่ได้เข้าร่วม', inplace=True)
/tmp/ipython-input-4009819203.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_student['GPA'].fillna(mean_gpa, inplace=True)

In [169]:
# Feature 1 - แปลงเวลาเป็นช่วงเวลา
df_student['ชั่วโมง'] = pd.to_datetime(df_student['เวลาเข้าร่วม'], format='%H:%M').dt.hour
df_student['ช่วงเวลา'] = pd.cut(df_student['ชั่วโมง'],
                                 bins=[0, 9, 12, 24],
                                 labels=['เช้า', 'สาย', 'บ่าย'])

# Feature 2 - นับจำนวนกิจกรรม
df_student['จำนวนกิจกรรม'] = df_student['กิจกรรม'].apply(
    lambda x: len(x.split(',')) if x != 'ไม่ได้เข้าร่วม' else 0
)

# Feature 3 - จัดกลุ่มผลการเรียน
df_student['ระดับผลการเรียน'] = pd.cut(df_student['GPA'],
                                        bins=[0, 2.0, 3.0, 3.5, 4.0],
                                        labels=['ต่ำ', 'ปานกลาง', 'ดี', 'ดีมาก'])

# Feature 4 - One-Hot Encoding สำหรับคณะ
df_encoded = pd.get_dummies(df_student, columns=['คณะ'], prefix='คณะ')

print("\n=== ข้อมูลหลัง Feature Engineering ===")
print(df_encoded[['รหัสนักศึกษา', 'ช่วงเวลา', 'จำนวนกิจกรรม', 'ระดับผลการเรียน']])
print("\nคอลัมน์ทั้งหมด")
print(df_encoded.columns.tolist())

=== ข้อมูลหลัง Feature Engineering ===
  รหัสนักศึกษา ช่วงเวลา  จำนวนกิจกรรม ระดับผลการเรียน
0        64001     เช้า             1              ดี
1        64002     เช้า             1           ดีมาก
2        64003     เช้า             2              ดี
3        64004     เช้า             0         ปานกลาง
4        64005     เช้า             1           ดีมาก

คอลัมน์ทั้งหมด
['รหัสนักศึกษา', 'ชื่อ', 'ชั้นปี', 'GPA', 'กิจกรรม', 'เวลาเข้าร่วม', 'ชั่วโมง', 'ช่วงเวลา', 'จำนวนกิจกรรม', 'ระดับผลการเรียน', 'คณะ_วิทยาศาสตร์', 'คณะ_วิศวกรรมศาสตร์', 'คณะ_ศิลปศาสตร์']